{{page-title 'Create'}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author" class="btn-back">
      <span class="sr-only">
        Back
      </span>
      ←
    </LinkTo>
    <div class="slide-out-heading">
      <div class="title">
        <h3>
          New Author
        </h3>
      </div>
    </div>
    <div class="slide-out-content">
      <AuthorForm @saveAuthor={{this.createAuthor}} @author={{this.model}} />
    </div>
  </div>
</div>
