<form {{on 'submit' this.submitChanges}}>
  <div class="field">
    <label for="firstName">
      First Name:
    </label>
    <Input
      id="firstName"
      @type="text"
      placeholder="First Name"
      @value={{@author.firstName}}
    />
  </div>
  <div class="field">
    <label for="lastName">
      Last Name:
    </label>
    <Input
      id="lastName"
      @type="text"
      @value={{@author.lastName}}
      placeholder="Last Name"
    />
  </div>
  <div class="form-footer">
    <button type="submit" class="btn-submit">
      {{#if @buttonText}}
        Save Changes
      {{else}}
        Create a new author
      {{/if}}
    </button>
  </div>
</form>
