{{page-title 'Create'}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="book" class="btn-back">
      <span class="sr-only">
        Back
      </span>
      ←
    </LinkTo>
    <div class="slide-out-heading">
      <div class="title">
        <h3>
          New Book
        </h3>
      </div>
    </div>
    <div class="slide-out-content"></div>
  </div>
</div>
